@import "foundation/scss/foundation/components/global.scss";
@import "foundation/scss/foundation/_variables.scss";
@import "foundation/scss/foundation/components/grid.scss";
@import "foundation/scss/foundation/components/visibility.scss";
@import "foundation/scss/foundation/components/block-grid.scss";

html, body {
  margin: 0 auto;
  height:auto;
  width:100%;
  text-align: center;
}

input[type="button"] {
  width:125px;
  height:35px;
  border-radius:4px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.4em;
}

header {
  background-color: #f3f3f3;
  color: #000;
  padding: 10px 0;
  height:180px;
}

a {
  color: #00B7FF;
}

a:hover {
  cursor:pointer;
}

h1 {
  font-size:2.6em;
  font-weight:bold;
  padding:0;
}

h2 {
  font-size:2em;
}

.auth {
  position: absolute;
  top: 0;
  left: 10px;
}

.welcome {
  margin-top: 6px;
}

.main {
  width:auto;
  text-align: center;
  padding:20px 0;
}

.in ul {
  padding:0;

  li {
    list-style: none;
    padding:0;
    margin:15px 0;
  }
}

.out {
  text-align: left;
}

#restaurantsDiv {
  font-size:1.4em;

  em.ng-binding {
    font-weight: bold;
  }

  a {
    display:inline-block;
    margin: 0 auto;
  }

  .vote {
    display: block;
    font-size: .7em;
    margin-bottom: 30px;
    width: 100px;
    background: #00B7FF;
    text-align: center;
    height: 36px;
    color: #fff;
    line-height: 33px;
  }

  .voters li {
    list-style: none;
    font-size: .6em;
    text-align: center;
  }
}

.btn-auth.large {
  min-width: 195px;
}