html, body {
  margin: 0 auto;
  height:auto;
  width:100%;
  text-align: center;
}

input[type="button"] {
  width:125px;
  height:35px;
  border-radius:4px;
}

body {
  padding: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.4em;
}

a {
  color: #00B7FF;
}

a:hover {
  cursor:pointer;
}

h1 {
  font-size:2.6em;
  font-weight:bold;
  padding:0;
  margin:0 0 20px 0;
}

h2 {
  font-size:2em;
}

.main {
  width:100%;
  text-align: left;
}

.left {
  float:left;
  text-align:left;
}

.right {
  float:left;
  text-align:left;
  margin-left:100px;
}

.in ul {
  padding:0;
}

.in ul li {
  list-style: none;
  margin:10px 0;
  padding:0;
}

#restaurantsDiv {
  font-size:1.4em;

  div {
      margin:10px 0;
  }
}

.btn-auth.large {
  min-width: 195px;
}