extends layout

block content
  section(id='watlunch')
    div(class='in', ng-hide='isUserAuthenticated', ng-cloak)
      ul
        li
          a(class="btn-auth btn-github large login", ng-click="githubLogin()") Sign in with <b>GitHub</b>
        li
          a(class="btn-auth btn-facebook large login", ng-click="facebookLogin()") Sign in with <b>FriendFace</b>
        li
          a(class="btn-auth btn-twitter large login", ng-click="twitterLogin()") Sign in with <b>Jitter</b>
    div(class='main', ng-show="isUserAuthenticated")
      div(id="restaurantsDiv", auto-scroll="restaurants", class="row")
        div(ng-cloak, ng-repeat="restaurant in restaurants", class="columns large-3")
          a(ng-click="vote(restaurant)", ng-hide="userHasVoted()", class='vote') vote
          em {{restaurant.name}}
          ul(class='voters')
            li(ng-repeat="vote in restaurant.votes." + thedate) {{vote.name}}
