doctype 5
html(ng-app="WatLunch")
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300')
    link(rel='stylesheet', href='/stylesheets/social.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    header
      h1 WAT/DevOps Lunch Voting

      div(class='auth')
        div(class='out')
          a log out
          div(class='welcome')
            h2
    block content
    footer
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='/js/lib/underscore/underscore-min.js')
    script(src='/js/lib/moment/min/moment.min.js')
    script(src='/js/lib/angular/angular.min.js')
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='https://cdn.firebase.com/v0/firebase-auth-client.js')
    script(src='/js/lib/angularFire/angularfire.min.js')
    script(src='/js/app.js')